In [ ]:
# we will evaluate two stocks: BEML and GLAXO.

#1. What is the expected daily rate of return of these stocks?
#2. Which stocks have higher risk or volatility as far as daily returns are concerned?
#3. Which stock has higher probability of making a daily return of 2% or more?
#4. Which stock has higher probability of making a loss (risk) of 2% or more?

In [3]:
import pandas as pd 
from scipy.stats import norm

beml = pd.read_csv('BEML.csv')
glaxo = pd. read_csv('GLAXO.csv')

beml.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1121.0,1151.00,1121.00,1134.0,1135.60,101651.0,1157.18
1,2010-01-05,1146.8,1149.00,1128.75,1135.0,1134.60,59504.0,676.47
2,2010-01-06,1140.0,1164.25,1130.05,1137.0,1139.60,128908.0,1482.84
3,2010-01-07,1142.0,1159.40,1119.20,1141.0,1144.15,117871.0,1352.98
4,2010-01-08,1156.0,1172.00,1140.00,1141.2,1144.05,170063.0,1971.42

In [5]:
beml['Return'] = (beml['Close'] - beml['Open'])/beml['Open'] 
glaxo['Return'] = (glaxo['Close'] - glaxo['Open'])/glaxo['Open']
print(beml['Return'])
print(glaxo['Return'])

0       0.013024
1      -0.010638
2      -0.000351
3       0.001883
4      -0.010337
          ...
1734   -0.015285
1735    0.015614
1736   -0.006475
1737    0.009160
1738    0.014807
Name: Return, Length: 1739, dtype: float64
0       0.007843
1      -0.014116
2       0.012670
3       0.002249
4      -0.006182
          ...
1734    0.007584
1735   -0.007786
1736    0.000148
1737    0.009567
1738   -0.000073
Name: Return, Length: 1739, dtype: float64

In [17]:
beml.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs),Return
0,2010-01-04,1121.0,1151.00,1121.00,1134.0,1135.60,101651.0,1157.18,0.013024
1,2010-01-05,1146.8,1149.00,1128.75,1135.0,1134.60,59504.0,676.47,-0.010638
2,2010-01-06,1140.0,1164.25,1130.05,1137.0,1139.60,128908.0,1482.84,-0.000351
3,2010-01-07,1142.0,1159.40,1119.20,1141.0,1144.15,117871.0,1352.98,0.001883
4,2010-01-08,1156.0,1172.00,1140.00,1141.2,1144.05,170063.0,1971.42,-0.010337

In [5]:
glaxo.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs),Return
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74,0.007843
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58,-0.014116
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09,0.012670
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00,0.002249
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11,-0.006182

In [10]:
#function to analyze a stock
def analyze_stock(df, stock_name):
    
    mean_return = df['Return'].mean()
    std_dev = df['Return'].std()
    
    #Probability of return ≥ 2%
    z_up = (0.02 - mean_return)/std_dev
    p_up = 1 - norm.cdf(z_up)

    # Probability of loss ≥ 2%
    z_down = (-0.02 - mean_return)/std_dev
    p_down = norm.cdf(z_down)

    print(f"\nAnalysis for {stock_name}")
    print(f"Expected Daily Return: {mean_return*100:.4f}%")
    print(f"Volatility (Std Dev): {std_dev*100: .4f}%")
    print(f"P(Daily Return ≥ 2%): {p_up*100: .2f}%")
    print(f"P(Daily Loss ≥ 2%): {p_down*100: .2f}%")

analyze_stock(beml,'BEML')
analyze_stock(glaxo,'GLAXO')

Analysis for BEML
Expected Daily Return: -0.1924%
Volatility (Std Dev):  2.5967%
P(Daily Return ≥ 2%):  19.92%
P(Daily Loss ≥ 2%):  24.32%

Analysis for GLAXO
Expected Daily Return: 0.0127%
Volatility (Std Dev):  1.4148%
P(Daily Return ≥ 2%):  8.01%
P(Daily Loss ≥ 2%):  7.74%

In [19]:
#now lets find outliers.
mean_turnover=beml['Turnover (Lacs)'].mean()
std_turnover=beml['Turnover (Lacs)'].std()

mean_turnover + (3*std_turnover)

np.float64(9799.064851861347)

In [20]:
mean_turnover - (3*std_turnover)

np.float64(-6433.5168817635895)

In [28]:
beml[beml["Turnover (Lacs)"] > 9799]

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs),Return
278,2011-02-09,673.00,677.00,570.00,585.00,584.85,2191557.0,13493.69,-0.130981
732,2012-12-05,297.85,332.70,295.00,307.90,308.00,3190901.0,10208.76,0.034078
1070,2014-04-11,412.00,451.90,407.45,430.00,430.15,2780135.0,12089.92,0.044053
1089,2014-05-14,450.00,488.00,449.00,457.90,456.60,2270691.0,10703.83,0.014667
1092,2014-05-19,471.00,560.25,471.00,560.25,559.50,2664782.0,13947.60,0.187898
1097,2014-05-26,608.00,695.00,597.65,606.00,610.40,3720854.0,24169.71,0.003947
1099,2014-05-28,588.00,614.70,566.10,608.25,605.00,2089601.0,12490.75,0.028912
1101,2014-05-30,651.10,677.50,645.00,651.10,652.85,2032940.0,13413.67,0.002688
1106,2014-06-06,692.50,766.00,691.50,736.00,738.50,1959964.0,14353.08,0.066426
1107,2014-06-09,745.40,786.75,742.00,783.00,778.35,1306340.0,10011.41,0.044204
1108,2014-06-10,786.00,832.00,781.20,815.50,813.95,1674690.0,13523.66,0.035560
1118,2014-06-24,809.00,863.70,798.00,849.00,850.05,1981023.0,16630.42,0.050742
1119,2014-06-25,852.00,877.70,841.50,868.00,866.75,1501298.0,12960.38,0.017312
1120,2014-06-26,868.00,874.00,819.25,821.00,824.10,1265678.0,10700.80,-0.050576
1196,2014-10-21,559.20,664.60,559.20,658.00,653.70,1901730.0,11957.99,0.168991
1207,2014-11-10,687.30,752.40,685.00,731.65,731.05,1702261.0,12309.40,0.063655
1225,2014-12-04,791.00,866.90,771.65,830.00,830.60,2717581.0,22562.90,0.050063
1226,2014-12-05,834.00,872.00,805.55,808.80,810.70,1224261.0,10353.75,-0.027938
1243,2014-12-31,758.65,824.90,758.00,792.00,793.80,2307661.0,18499.14,0.046332
1248,2015-01-07,759.00,802.80,759.00,791.90,792.35,1540910.0,12128.90,0.043939
1251,2015-01-12,795.00,883.00,784.95,867.00,873.00,3110786.0,26358.00,0.098113
1252,2015-01-13,880.00,899.00,858.10,874.00,871.65,1749006.0,15449.92,-0.009489
1253,2015-01-14,872.95,905.00,863.30,888.00,887.70,1593576.0,14145.68,0.016897
1255,2015-01-16,888.70,938.70,880.15,921.00,919.35,1937343.0,17792.48,0.034489
1272,2015-02-11,872.90,971.60,869.95,968.00,959.40,1466178.0,13749.97,0.099095
1273,2015-02-12,970.90,982.80,911.00,934.00,933.10,1336617.0,12622.06,-0.038933
1276,2015-02-18,955.00,1012.80,950.00,990.00,990.85,2147344.0,21288.71,0.037539
1277,2015-02-19,996.00,1024.00,953.80,989.00,989.35,1132033.0,11292.84,-0.006677
1282,2015-02-26,986.75,1010.00,951.50,960.00,962.95,1572335.0,15448.70,-0.024120
1287,2015-03-04,983.50,1050.00,973.50,1033.95,1037.00,1939919.0,19847.82,0.054398
1295,2015-03-17,1031.00,1117.80,1015.00,1107.70,1100.80,1891024.0,20429.78,0.067701
1328,2015-05-07,927.00,939.95,806.25,900.00,869.20,1364094.0,11753.14,-0.062352
1345,2015-06-01,1122.00,1152.00,1052.10,1056.70,1059.05,1264401.0,13946.09,-0.056105
1348,2015-06-04,1068.00,1152.00,1035.10,1150.00,1135.95,901886.0,9981.19,0.063624
1349,2015-06-05,1147.00,1217.95,1136.50,1184.40,1186.10,1123979.0,13389.15,0.034089
1482,2015-12-17,1135.00,1225.00,1130.75,1225.00,1216.90,858102.0,10231.24,0.072159
1483,2015-12-18,1228.20,1271.85,1220.00,1260.00,1263.00,1190932.0,14955.65,0.028334
1530,2016-02-25,1025.00,1039.75,965.70,970.00,977.95,1106300.0,11080.69,-0.045902
1623,2016-07-14,877.00,946.00,868.95,945.90,938.70,1171186.0,10720.10,0.070353
1665,2016-09-15,980.00,980.00,892.80,902.95,900.15,2385867.0,21996.02,-0.081480
1666,2016-09-16,909.55,927.00,891.30,921.70,922.05,1119445.0,10200.40,0.013743
1732,2016-12-22,929.90,972.00,928.05,968.00,963.70,1400137.0,13284.57,0.036348
1733,2016-12-23,981.00,983.00,962.10,977.00,971.55,1185014.0,11553.40,-0.009633

In [30]:
beml[beml["Turnover (Lacs)"] < -6433]

Empty DataFrame
Columns: [Date, Open, High, Low, Last, Close, Total Trade Quantity, Turnover (Lacs), Return]
Index: []

In [31]:
beml_no_outlier=beml[beml["Turnover (Lacs)"] < 9799]
beml_no_outlier.shape

(1696, 9)